<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= allSessions[0].name %></p>
<h3>Current Active Sessions:</h3>
    <% for (const session of allSessions) { %>
        <p>SessionID: <%= session.sid %></p>
        <p>UserID: <%= session.id %></p>
        <a href="/admin/revoke/<%= session.sid %>" class="btn btn-secondary">Revoke Session</a>
    <% } %>
